@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #3e3f4e;
  color: whitesmoke;
  line-height: 1.6;
}

ul {
  list-style: none;
}
.countDownWrapper {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}
h1 {
  text-align: center;
  font-size: 44px;
}
.countDownLabel {
  font-size: 22px;
  text-align: center;
  padding: 8px;
  word-wrap: break-word;
}
.label-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}
input {
  height: 34px;
  width: 150px;
  border: 1.9px solid #000;
  margin: 4px;
  padding: 4px;
  font-size: 20px;
}
.disabled-btn {
  height: 34px;
  width: 104px;
  border: 0;
  border-radius: 8px;
}
.start-button {
  height: 34px;
  width: 104px;
  color: whitesmoke;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  touch-action: manipulation;
}
.start-button:hover,
.start-button:focus {
  animation: start-button 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes start-button {
  0% {
    box-shadow: 0 0 0 0 #00ddeb;
  }
}

.clock-wrapper {
  width: 100%;
}
/* div1 */
.end-half-message {
  width: 100%;
  text-align: center;
}
/* div2 */
.counter-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.clock-counter {
  /* text-align: center; */
  font-size: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* At 20 seconds turn counter to red text */
.countdown-20 {
  color: red;
  text-align: center;
  font-size: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* At 10 seconds start red blinking animation with keyframes */
.countdown-blink {
  color: red;
  text-align: center;
  font-size: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

/* React-icon container*/
.stop-start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  margin: 20px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
  touch-action: manipulation;
  transition: all 1s ease-in-out;
}
.stop-start-btn:hover {
  transform: scale(0.85);
}
.speed-btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.speed-btn {
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  border: 0;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  transition: all 1s ease-in-out;
}
.speed-btn:active,
.speed-btn:hover {
  outline: 0;
  transform: scale(1.3);
}

.timezone-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.timezone-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4px;
  font-weight: bold;
}
.timezone-row>span {
  font-weight: normal;
  margin-right: 20px;
}
.timezone-heading {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
